$primaryColor: rgb(39, 73, 223);
.public-channel-container {
  width: 100%;
  height: 600px;
  background-color: #2749df;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: relative;
  text-align: center;
  color: white;
  box-shadow: 0px 0px 4px black;
  margin: auto;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: left;
  margin-bottom: 20px;
  max-width: 67%;
  @media (min-device-width: 768px) and (max-device-width: 1112px) {
    max-width: 96%;
  }
  @media (min-device-width: 320px) and (max-device-width: 420px) {
    max-width: 96%;
  }
}
.messages {
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-y: scroll;
  padding-bottom: 12px;
  padding-top: 4px;
}
.single-message {
  font-size: 15px;
  color: black;
  background-color: white;
  width: auto;
  border-radius: 15px;
  padding: 10px;
  align-self: flex-end;
  margin-right: auto;
  max-width: 74%;
  margin-left: 13px;
  box-shadow: 0px 0px 0px black;
  transition: ease box-shadow 400ms;
  &:hover {
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
    transition: ease box-shadow 400ms;
  }
}

.single-message-2 {
  position: relative;
  font-size: 15px;
  color: black;
  background-color: white;
  width: auto;
  border-radius: 15px;
  padding: 11px 11px 12px 15px;
  align-self: flex-end;
  max-width: 76%;
  margin-left: auto;
  margin-right: 5px;
  box-shadow: 0px 0px 0px black;
  transition: ease box-shadow 400ms;
  &:hover {
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
    transition: ease box-shadow 400ms;
  }
}

.inner-message {
  text-align: initial;
  opacity: 1;
}
.inner-message-2 {
  text-align: initial;
  opacity: 1;
}

.inner-avatar-message {
  width: 45px;
  height: 45px;
  flex-shrink: 0;
  border-radius: 25%;
  position: relative;
  overflow: hidden;
  margin-left: -7px;
  text-align: initial;
  & > img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.inner-avatar-message-2 {
  float: right;
  margin-left: auto;
  margin-right: 0;
  width: 45px;
  height: 45px;
  flex-shrink: 0;
  border-radius: 25%;
  position: relative;
  overflow: hidden;
  margin-left: 5px;
  text-align: initial;
  & > img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.outter-messages {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-left: 4px;
  text-align: left;
}

.username-message {
  margin-left: 73px;
  padding-top: 23px;
  font-size: 12px;
  margin-bottom: -10px;
  opacity: 0.85;
  transition: ease opacity 1s;
  &:hover {
    opacity: 1;
    transition: ease opacity 1s;
  }
}
.outter-messages-2 {
  float: right;
  display: flex;
  align-items: center;
  margin-top: 4px;
  margin-left: 4px;
  text-align: left;
  padding-right: 0;
}

.username-message-2 {
  position: absolute;
  left: 6px;
  top: -1px;
  color: #fff;
  transform: translateY(-100%);
  font-size: 12px;
  opacity: 0.85;
  transition: ease opacity 1s;
  &:hover {
    opacity: 1;
    transition: ease opacity 1s;
  }
}
.date-message {
  top: 34px;
  color: white;
  float: right;
  position: relative;
  font-size: 11px;
  margin-right: -33px;
  right: 26px;
  opacity: 0.85;
  transition: ease opacity 1s;
  &:hover {
    opacity: 1;
    transition: ease opacity 1s;
  }
}
.date-message-image {
  @extend .date-message;
  top: 29px;
}
.date-message-2 {
  position: absolute;
  top: 100%;
  left: calc(100% - 15px);
  transform: translateX(-100%);
  color: white;
  font-size: 11px;
  opacity: 0.85;
  transition: ease opacity 1s;
  &:hover {
    opacity: 1;
    transition: ease opacity 1s;
  }
}
.current-user-container {
  margin-left: auto;
  padding: 13px;
  margin-top: 17px;
}
.date-long-message {
  top: 34px;
  color: white;
  float: right;
  position: relative;
  font-size: 11px;
  margin-right: -81px;
  right: 71px;
  opacity: 0.85;
  transition: ease opacity 1s;
  &:hover {
    opacity: 1;
    transition: ease opacity 1s;
  }
}
.date-long-message-image {
  @extend .date-long-message;
  top: 29px;
}
.date-long-message-2 {
  top: 34px;
  color: white;
  float: right;
  position: relative;
  font-size: 11px;
  margin-right: -77px;
  right: 71px;
  opacity: 0.85;
  transition: ease opacity 1s;
  &:hover {
    opacity: 1;
    transition: ease opacity 1s;
  }
}

.default-avatar {
  font-size: 49px;
  cursor: context-menu;
}
.default-avatar-2 {
  font-size: 49px;
  cursor: context-menu;
}
.public-channel-outter-textbox {
  width: 100%;
  height: 110px;
  background-color: #2749df;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  position: initial;
  text-align: center;
  box-shadow: 0px 0px 4px black;
  margin: auto;
  margin-top: -20px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: left;
  margin-bottom: 10px;
  max-width: 67%;
  padding-bottom: 17px;
  @media (min-device-width: 768px) and (max-device-width: 1112px) {
    max-width: 96%;
  }
  @media (min-device-width: 320px) and (max-device-width: 420px) {
    max-width: 96%;
    position: relative;
    right: 3.5rem;
  }
}
.public-channel-inner-textbox {
  background-color: white;
  width: 75%;
  height: 80%;
  border-radius: 15px;
  margin-bottom: auto;
  margin-top: 9px;
  margin-left: 18px;
}
.public-channel-textbox {
  font-size: 16px;
  width: 75%;
  height: 48px;
  margin-top: 17px;
  margin-bottom: auto;
  margin-left: 14px;
  padding: 10px;
  padding-bottom: 33px;
  top: 27px;
  border: none;
  background-color: white;
  border-radius: 15px;
  color: black;
  font-family: "Poppins", sans-serif;
  max-height: 80%;
}
textarea {
  overflow: hidden;
  resize: none;
  border: none;
  outline: none;
}
.public-channel-send {
  font-size: 35px;
  padding: 0px;
  color: rgb(255, 255, 255);
  padding-right: 5px;
}
.public-channel-send-hover {
  color: white;
  margin-top: 38px;
  margin-left: 15px;
}

.public-channel-insphoto {
  font-size: 35px;
  padding: 0px;
  color: rgb(255, 255, 255);
  padding-top: 2px;
  padding-right: 10px;
}

.public-channel-insphoto-hover {
  color: white;
  margin-top: 38px;
  margin-left: 35px;
}

.public-channel-attach {
  font-size: 35px;
  padding: 0px;
  color: rgb(255, 255, 255);
  padding-top: 2px;
  padding-right: 10px;
}

.public-channel-attach-hover {
  color: white;
  margin-top: 38px;
  margin-left: 35px;
}

@media screen and (max-width: 900px) {
  .public-channel-outter-textbox {
    margin-left: 64px;
  }
}

.message-value {
  color: white;
  font-size: 11px;
  display: flex;
  margin-top: 91px;
  flex-direction: row;
  margin-left: -198px;
}
div::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: rgb(41, 76, 233);
}

div::-webkit-scrollbar {
  width: 12px;
  background-color: $primaryColor;
}

div::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: white;
}
.uploaded-image-filename {
  position: relative;
  top: 85px;
  color: white;
  margin-left: auto;
  margin-right: auto;
  right: 30px;
  font-size: 14px;
}
.image-message {
  max-width: 160px;
  max-height: 160px;
  min-width: 20px;
  min-height: 20px;
  flex-shrink: 0;
  border-radius: 3%;
  border: 1px $primaryColor solid;
  position: relative;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  text-align: initial;
  top: 13px;
  transform: scale(1.05);
  transition: all 200ms ease;
  & > img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &:hover {
    transform: scale(1.07);
    transition: all 200ms ease;
  }
}
.image-message-2 {
  max-width: 160px;
  max-height: 160px;
  min-width: 20px;
  min-height: 20px;
  flex-shrink: 0;
  border-radius: 3%;
  border: 1px $primaryColor solid;
  position: relative;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  text-align: initial;
  top: 5px;
  right: 3px;
  transform: scale(1.05);
  transition: all 200ms ease;
  & > img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &:hover {
    transform: scale(1.07);
    transition: all 200ms ease;
  }
}
.image-message img {
  display: block;
}
.inner-message-image {
  float: left !important;
  opacity: 1;
}
.align-image {
  text-align: center;
}
.uploaded-file-filename {
  @extend .uploaded-image-filename;
  left: 37px;
}
a[download] {
  color: $primaryColor;
  font-weight: bold;
  font-size: 15px;
  position: relative;
  top: 10px;
  text-decoration: underline;
  transition: ease all 300ms;
  display: block;
  text-align: center;
  &:hover {
    transition: ease all 300ms;
    text-decoration: none;
  }
}
.inner-file-message {
  color: $primaryColor;
  font-weight: bold;
  display: block;
  text-align: center;
  font-size: 15px;
  position: relative;
  top: 3px;
  opacity: 100%;
  text-decoration: underline;
  transition: ease all 300ms;
  &:hover {
    transition: ease all 300ms;
    text-decoration: none;
    opacity: 80%;
  }
}
.online-circle {
  height: 8px;
  width: 8px;
  background-color: #09e051;
  border-radius: 50%;
  display: flex;
  position: relative;
  top: 20px;
  left: 40px;
  border: 1px solid black;
  z-index: 1;
  box-shadow: inset 0px 0px 2px black;
}

.offline-circle {
  @extend .online-circle;
  background-color: rgb(143, 143, 143);
}
