$primaryColor: rgb(39, 73, 223);
.btn-login {
  color: black;
  //left: 1540px;
  margin-right: 5px;

  &:hover {
    opacity: 50%;
    animation: fading 1s;
  }
}
.btn-login-submit {
  float: right;
  top: 10px;
}
.login-field {
  height: 260px;
  margin: auto;
}
