<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
    position="end"
  >
    <mat-toolbar class="sidenav-menu"
      ><span style="margin: auto;">Menu</span></mat-toolbar
    >
    <app-sidenav [username]="username" [userLogged]="userLogged"></app-sidenav>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="toolbar">
      <mat-toolbar class="toolbar">
        <span class="h-word">RLT Chatter</span>
        <ng-container *ngIf="currentUser2.logged; else userNotLogged">
          <span class="welcome-field"
            >Welcome, {{ username }}
            <button
              type="button"
              class="btn-log"
              mat-icon-button
              (transitionend)="logoutUser()"
            >
              <mat-icon class="logout-icon">login</mat-icon>
            </button></span
          >
        </ng-container>
        <ng-template #userNotLogged>
          <div class="wrapper">
            <app-login></app-login>
            <app-register></app-register>
          </div>
        </ng-template>

        <button
          type="button"
          class="btn-fab"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async"
        >
          <mat-icon style="font-size: 36px;">menu</mat-icon>
        </button>
      </mat-toolbar>
      <app-expansion-panel
        [isLogged]="currentUser2.logged"
        [username]="username"
      ></app-expansion-panel>
      <app-chatter
        [username]="username"
        [userLogged]="userLogged"
      ></app-chatter>
      <div class="ver-container"><span class="version">ver. 0.897</span></div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
