$primaryColor: rgb(39, 73, 223);
$errorColor: rgb(230, 25, 25);
* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Poppins", sans-serif;
  width: 100%;
  height: 100%;
  animation: change 25s ease infinite;
  background-image: linear-gradient(
    120deg,
    rgb(232, 241, 255),
    rgb(240, 245, 255),
    rgb(221, 231, 252),
    rgb(223, 230, 255),
    rgb(173, 218, 255)
  );
  position: fixed;
  background-repeat: no-repeat;
  background-size: 400% 400%;
}
@keyframes change {
  0% {
    background-position: 0% 0%;
  }
  25% {
    background-position: 50% 50%;
  }
  50% {
    background-position: 100% 100%;
  }
  75% {
    background-position: 50% 50%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.blue-snackbar {
  background-color: $primaryColor;
  color: white;
}
.blue-snackbar button {
  background-color: $primaryColor;
  color: white;
}
.red-snackbar {
  background-color: $errorColor;
  color: rgb(0, 0, 0);
}
.red-snackbar button {
  background-color: $errorColor;
  color: rgb(0, 0, 0);
}
.mat-progress-spinner circle,
.mat-spinner circle {
  stroke: $primaryColor !important;
  margin: 0 auto;
}
.progress-spinner-div {
  position: relative;
  margin-left: 36%;
  margin-right: 50%;
  margin-bottom: 5%;
}
div::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: $primaryColor;
}

div::-webkit-scrollbar {
  width: 12px;
  background-color: $primaryColor;
}

div::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: rgb(255, 255, 255);
}
