* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Poppins", sans-serif;
  width: 100%;
  height: 100%;
  animation: change 25s ease infinite;
  background-image: linear-gradient(
    120deg,
    rgb(232, 241, 255),
    rgb(240, 245, 255),
    rgb(221, 231, 252),
    rgb(223, 230, 255),
    rgb(173, 218, 255)
  );
  position: fixed;
  background-repeat: no-repeat;
  background-size: 400% 400%;
}
@keyframes change {
  0% {
    background-position: 0% 0%;
  }
  25% {
    background-position: 50% 50%;
  }
  50% {
    background-position: 100% 100%;
  }
  75% {
    background-position: 50% 50%;
  }
  100% {
    background-position: 0% 0%;
  }
}
$primaryColor: rgb(39, 73, 223);
.blue-snackbar {
  background-color: $primaryColor;
  color: white;
}
.blue-snackbar button {
  background-color: $primaryColor;
  color: white;
}
